@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}
.main {
  width: calc(100vw - 176px);
}
.box-shadow {
  box-shadow: -57px 20px 90px rgba(247, 147, 27, 0.1),
    57px -20px 90px rgba(247, 147, 27, 0.1);
}

.empty-container {
  width: 600px;
  margin: 60px auto;
}
